body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
}
.text-center {
    text-align: center;
}
.fw-bold {
    font-weight: 600;
}
.headline {
    margin-top: 200px;
    color: #fff;
    margin-bottom: 50px;
}
.center-flex {
    display: flex;
    justify-content: center;    
}
.result {
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: 1px solid #333333;
    padding: 15px 20px;
    color: #fff;
    background-color: #333333;
}
.center-align {
    display: flex;
    justify-content: center;
}
input,
select {
    border-radius: 5px;
}

button[type=submit] {
    transition: 0.2s;
}
button[type=submit]:hover {
    background-color: #000;
    color: #fff;
}
.result-area {
    width: 100%;
}
.copybtn {
    background-color: transparent;
    border-radius: 5px;
    border:  2px solid #0857F1;
    color: #fff;
}
.copybtn:hover {
    background-color: #0857F1;
    border:  2px solid #0857F1;
    color: #fff;
}
.generate-btn {
    background-color: #0857F1;
    border-radius: 5px;
    border:  1px solid #0857F1;
    color: #fff;
}
.generate-btn:hover {
    border:  1px solid #000;
}
.mg-left-auto {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}